@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;900&display=swap');

@layer components {
  .h1 {
    @apply text-center uppercase text-3xl font-black pt-6 mb-6 text-white;
  }
  .h2 {
    @apply text-center uppercase text-xl pt-6 text-white;
  }
  .page-h1 {
    @apply text-center uppercase text-3xl font-black pt-6 mb-6 text-white;
  }
  .page-h2 {
    @apply uppercase font-black text-xl pt-6 text-white;
  }
  .page-h3 {
    @apply uppercase pt-6 text-white;
  }
  .link {
    @apply font-black text-xl text-white;
  }
  .panel {
    background: rgba(0, 0, 0, 0.3);
    @apply md:rounded md:-mx-4 my-4 p-4 overflow-hidden;
  }

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #211 ;
  background-image: url('/background.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

body {
  color: rgba(255,255,255,0.9);
}

.icon-cal::before {
  content:"";
  background: url('/icon-cal.svg') center no-repeat;
  width: 1rem;
  height: 1rem;
  margin-right:0.5rem;
  display: inline-block;
}

.icon-pin::before {
  content:"";
  background: url('/icon-pin.svg') center no-repeat;
  width: 1rem;
  height: 1rem;
  margin-right:0.5rem;
  display: inline-block;
}
