@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply text-center uppercase text-3xl font-black pt-6 mb-6 text-white;
  }
  .h1-title {
    @apply text-center uppercase text-5xl font-black pt-6 mb-6 text-white;
  }
  .h2 {
    @apply text-center uppercase text-3xl pt-6 text-white;
  }
  .page-h1 {
    @apply text-center uppercase text-3xl font-black pt-6 mb-6 text-white;
  }
  .page-h2 {
    @apply uppercase font-black text-xl pt-6 text-white;
  }
  .page-h3 {
    @apply uppercase pt-6 text-white;
  }
  .link {
    @apply font-black text-xl text-white;
  }
  .panel {
    background: rgba(0, 0, 0, 0.3);
    @apply md:rounded md:-mx-4 my-4 p-4 overflow-hidden;
  }

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var('--text-font'), sans-serif;
  line-height: 1.8;
  min-height:100vh;
}
h1, h2, h3, h4 , h5 {
  font-family: var('--title-font'), sans-serif;
}

.content li {
  line-height: 1.5;
  list-style-type: circle;
  margin-bottom: .5rem;
  text-indent: -1em;
  padding-left: 1em;
}
.content p {
  margin-bottom: 1.2rem
}


body {
  background-color: #211 ;
  overflow: scroll;
  color: rgba(255,255,255,0.9);
}

html::before {
  content: ' ';
  display: block;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
html::before {
  background-image: url('/background-red.jpg');
  overflow: hidden;
  position: fixed;
  z-index: -10;
}

@media (hover: none) {
  .childpage {
      background:none !important;
  }
}

.childsticky {
  position: sticky;
  bottom: 0;
  right:0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  color: #fff;
  z-index:-10;
  margin-bottom:-100vh;
}

.icon-cal::before {
  content:"";
  background: url('/icon-cal.svg') center no-repeat;
  width: 1rem;
  height: 1rem;
  margin-right:0.5rem;
  display: inline-block;
}

.icon-pin::before {
  content:"";
  background: url('/icon-pin.svg') center no-repeat;
  width: 1rem;
  height: 1rem;
  margin-right:0.5rem;
  display: inline-block;
}

p + p, .lang + p, table + p, h1 + p, h2 + p, h3 + p {
  @apply mt-4;
}

.childpage + .childpage {
  @apply mt-0;
}

.col + .col {
  @apply ml-4;
}

:root {
--container-padding: 1rem;
}
